{% extends "admin/layoutadmin.html.twig" %}

{% block title %}Mes produits{% endblock %}

{% block body %}
    
    <h1>Mes produits</h1>
    
    {# on peut acceder à l'utilisateur connecté grace a la variable app #}
    
    <ul>
        {%for product in app.user.products%}
            <li> {{product.name}}</li>
            {% endfor%}
    </ul>
    
    
    
    {%endblock%}